
<!--include "pingponghack_register.php";
//session_start(); //Varje sida som har en session måste använda denna metod. -->


<!DOCTYPE html>
<html lang="sv">
<meta charset="UTF-8">
<head>


<!--BOOTSTRAP-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--BOOTSTRAP-->


	<script type="text/javascript" src="script_pingponghack.js"></script>
	<link rel="stylesheet" href="css/style_pingponghack.css" type="text/css" />

</head>
<body>

<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Registrera en ny användare för att börja spela PingPong!</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">

			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Förnamn">

			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">

			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Efternamn">

			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">

		    				<input type="text" name="usr_name" id="usr" class="form-control input-sm" placeholder="Användarnamn">

			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email">
			    			</div>
			    			<input type="submit" value="Registrera" class="btn btn-info btn-block">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>


    </body>
    </html>
		